cscope.*
*.out
tags
taghl_config.txt
*.taghl
*.browse
*.cout
*.dep
*.wsdt
*.tmp
*.sfr
*.dni
*.dbgdt
*.ewd
*.hex
*.sim
*.bin
*.pdf
*.uvopt
*.bak
*._ip
*.bz2
*.gz
*.tar
*.zip
*.rar
*.wav
*.mp3
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
.tags*
*.log
*.csv
_site
.sass-cache
~$*
