---
layout: null
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if 0]>
        <title>Tempus fugit! by robbie-cao</title>
        <![endif]-->

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    </head>

    <body>
        <div id="container">
            <div class="inner">

                <header>
                    <h1>Tempus fugit!</h1>
                    <h2>Robbie Cao&#39;s Blog</h2>
                </header>

                <section id="downloads" class="clearfix">
                    <a href="https://github.com/robbie-cao" id="view-on-github" class="button"><span>View on GitHub</span></a>
                </section>

                <hr>


                <section id="main_content">
                    <!--[if 0]>
                    <h1 class="page-heading">Posts</h1>
                    <![endif]-->

                    <ul class="post-list">
                        {% for post in site.posts %}
                        <h2>
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                        <p>{{ post.date | date: "%b %-d, %Y" }}</p>

                        {% endfor %}
                    </ul>
                </section>

                <footer>
                    <div class="footer-col footer-col-1">
                        <ul class="contact-list">
                            <li>{{ site.title }}</li>
                            <li>{{ site.description }}</li>
                        </ul>
                    </div>

                    <div class="footer-col footer-col-2">
                        <ul class="social-media-list">
                            {% if site.github_username %}
                            <li>
                                {% include icon-github.html username=site.github_username %}
                            </li>
                            {% endif %}

                            {% if site.twitter_username %}
                            <li>
                                {% include icon-twitter.html username=site.twitter_username %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="footer-col footer-col-3">
                        <ul class="contact-list">
                            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                            <li class="rss-subscribe">Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
                        </ul>
                    </div>

                    <p align="center">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

                </footer>

            </div>
        </div>

    </body>
</html>
